/*
font-family: 'Roboto', sans-serif;

Colors:
Primary: #3c4a54;
*/

/*********************************************\
| General                                     |
\*********************************************/

body {
    background: #e2e6e8;
    color: #666;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-top: 120px;
}
p,
pre {
    margin: 0 0 20px 0;
}
a {
    color: #3c4a54;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/*********************************************\
| Grid                                        |
\*********************************************/

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 1200px;
}

/*********************************************\
| Buttons                                     |
\*********************************************/

.button {
    background: #3c4a54;
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
}

/*********************************************\
| Header                                      |
\*********************************************/

#doc-header {
    background: #3c4a54;
    color: #fff;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;

    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
#doc-header .container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* Title */
#doc-header .container div {
    padding-top: 20px;
}
#doc-header h1 {
    font-size: 24px;
    margin: 0;
    line-height: 30px;
}
#doc-header p {
    height: 20px;
    line-height: 20px;
}

/* Navigation */
#doc-header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
#doc-header nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}
#doc-header nav li {
    list-style: none;
}
#doc-header nav a {
    color: #fff;
    display: block;
    margin-left: 30px;
}

/*********************************************\
| Footer                                       |
\*********************************************/

#doc-footer {
    margin-bottom: 30px;
    text-align: center;
}

/*********************************************\
| Body                                        |
\*********************************************/

#doc-body article {
    background: #fff;
    margin-bottom: 30px;
    padding: 45px 30px 25px 30px;
}
#doc-body article h1 {
    color: #3c4a54;
    font-size: 24px;
    margin: 0 0 20px 0;
}
#doc-body article h2 {
    color: #666;
    font-size: 18px;
    margin: 0 0 20px 0;
    padding-top: 20px;
}